h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.header-site {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.home {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.process {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.work {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}
.team {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.contact {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.about {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.design {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

p {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

#footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
